@font-face {
  font-family: 'DroidSerif-Regular';
  src: url('../fonts/DroidSerif/DroidSerif-Regular.woff2') format('woff2'),
  		url('../fonts/DroidSerif/DroidSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Wisdom Script';
    src: url('../fonts/Wisdom script/WisdomScript-Regular.woff2') format('woff2'),
        url('../fonts/Wisdom script/WisdomScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
	
	background-color: #000000;
	background-image: url("../img/Background Image 2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.page-header__wrapper {
	width: 67%;
	margin: 0 auto;
	padding-top: 3%;
	padding-bottom: 11%;

}

.main-nav {
	display: flex;
	padding-bottom: 12%;
}

.main-nav__logo {
	padding-left: 1%;
	width: 15%;
	margin-right: 33%;
	font-size: 26px;
	line-height: 41px;
	color: #fed136;

	 font-family: 'Wisdom Script';


}

.site-list {
	padding: 0;
	width: 52%;
	display: flex;
	justify-content: flex-start; 
	flex-wrap: wrap;
	
	
	list-style: none;

}

.site-list__item {
	padding: 3%;
	padding-right: 5%;
	
}

.site-list__item:hover {
	background-color: white;
	color: black;
	
}
.site-list__item:hover a {
	
	color: black;
	
}

.site-list__item a {
	color: #ffffff;
	

	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 41px;
	
	
	text-decoration: none;
	text-transform: uppercase;

}

.page-header__welcome {
	
	font-family: 'DroidSerif-Regular';
	font-size: 40px;
	text-align: center;
	color: #ffffff;
	margin: 0 auto 5% auto;
	
}

.page-header__meet {
	color: #ffffff;

	font-family: 'Montserrat Bold', sans-serif;
	text-transform: uppercase;
	font-size: 75px;
	line-height: 55px;
	text-align: center;
	margin: 0 auto 5% auto;

}
.page-header__button {
	
	margin: 0 auto;
}

.page-header__button:hover {
	background-color: white;
	color:  #d0ae12;
}
.button {
	display: block;
	background-color: #d0ae12;
	padding: 2% 8%;
	color: #ffffff;
	cursor:pointer;
	font-size: 18px;
	

}

.page-main {
	
	padding-top: 5%;
}
.services {
	width: 67%;
	margin: 0 auto;
	font-family: 'DroidSerif-Regular';
	font-size: 14px;
	text-align: center;
}

.services__heading {
	padding: 0;
	margin: 0;
	font-family: "Monserat bold", sans-serif;
	font-size: 40px;
	line-height: 75px;
	
	text-transform: uppercase;
}

.services-item__heading {
	font-family:  "Monserat bold", sans-serif;
	font-size: 18px;

	color: #000000;

}
.services__info {
	margin: 0;
	margin-bottom: 8%;
	color: #908e8e;
}

.services__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.services-item {
	margin: 0;
	padding: 0;
	width: 30%;
	margin-right: 3%;
	margin-bottom: 13%;

	font-family: 'Roboto Slab', serif;
	color: #908e8e;
}

.services-item__image {
	width: 40px;
	height: 40px;
	border: 4px solid  #ffd92c;
	border-radius: 50px;
	padding: 15px;

}

.portfolio-wrapper {
	background-color: #dedede;
}

.portfolio {
	width: 67%;
	margin: 0 auto;
	text-align: center;
	
}

.portfolio a {
	text-decoration: none;
}

.portfolio-work:hover {
	background-color: #787d87;
}
.portfolio-work:hover img {
	opacity: 0.5;
}


.portfolio__heading {
	margin: 0 auto;
	padding-top: 8%;
	margin-bottom: 3%;
	font-size: 40px;
	font-family:  "Monserat bold", sans-serif;

}

.portfolio__info {
	font-family: 'DroidSerif-Regular';
	font-size: 16px;	
	color: #777777;
	margin-bottom: 8%;
}

.portfolio-work-wrapper {
display: flex;
flex-wrap: wrap;
}

.portfolio-work {
	background-color: #ffffff;
	width: 30%;
	margin-right: 3%;
	margin-bottom: 7%;

}

.portfolio-work__image {
	width: 100%;
}

.portfolio-work__heading {

	font-size: 18px;
	font-family:  "Monserat bold", sans-serif;
	margin-bottom: 1%;
	color: #000000;
	
}

.portfolio-work__info {
	font-family: 'DroidSerif-Regular';
	font-size: 14px;
	color: #737373;
	margin: 0;
	padding-bottom: 3%;
}

.about {
	width: 67%;
	margin: 0 auto;
	text-align: center;
	margin-top: 5%;
	margin-bottom:  5%;
	
}

.about__heading {
	font-family:  "Monserat bold", sans-serif;
	font-size: 40px;
	margin: 0;
	
	margin-bottom: 1%;
	padding: 0;
}
.about__info {
	font-family: 'DroidSerif-Regular';
	font-size: 16px;
	margin: 0;
	margin-bottom: 5%;
}

.about__item {
	margin-bottom: 3%;
}

.about__item--left {
	display: flex;
	justify-content: flex-start;

}

.about__item--right {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
}

.about-achievement__text {
	width: 35%;
}

.about-achievement__image {
	width: 30%;
}
.about-achievement__image img {
	width: 70%;
}

.about-achievement__heading {
	font-family:  "Monserat bold", sans-serif;
	font-size: 18px;
}
.about-achievement__span {
	text-transform: uppercase;
}

.about-achievement__info {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	color: #777777;
}

.team-wrapper {
	background-color: #dedede;
}

.team {
	width: 67%;
	margin: 0 auto;
	text-align: center;
	padding-top: 5%;
	padding-bottom:  5%;
	
}

.team__heading {
	font-family:  "Monserat bold", sans-serif;
	font-size: 40px;
	margin: 0;

}

.team__info {
	color: #777777;
	margin: 0;
	margin-bottom: 7%;
}

.team__members {
	display: flex;
	justify-content: space-between;
}

.team-member {
	width: 23%;
}

.team-member img {
	width: 80%;
	border-radius: 50%;

}

.team-member__contacts
{
	display: flex;
	justify-content: center;

}

.team-member__twitter {
	display: block;
	background-image: url(../img/iconmonstr-twitter-5.svg);
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin: 1%;
}

.team-member__facebook {
	display: block;
	background-image: url(../img/iconmonstr-facebook-5.svg);
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin: 1%;
}

.team-member__pinterest {
	display: block;
	background-image: url(../img/iconmonstr-pinterest-4.svg);
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin: 1%;
}

.team-member__heading {
	font-family:  "Monserat bold", sans-serif;
	font-size: 16px;
	margin: 0;
	margin-top: 2%;
}

.team-member-info {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	color: #777777;
}

.contact-wrapper {
	background-color: #222222;
	background-image: url(../img/123.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.contact {
	width: 67%;
	margin: 0 auto;
	text-align: center;
	padding-top: 5%;
	padding-bottom:  5%;
	color: #ffffff;
	
}

.contact__heading {
	font-family:  "Monserat bold", sans-serif;
	font-size: 40px;
	margin: 0;
	margin-bottom: 3%;
	
}

.contact__info {
	font-family: 'DroidSerif-Regular';
	font-size: 16px;
	margin: 0;
	margin-bottom: 5%;
	
}

.form {
	margin-bottom: 5%;
}

.form__name {
	padding: 2% 5%;
	margin: 1%;
}

.form__email {
	padding: 2% 5%;
	margin: 1%;
}

.form__subject {
	padding: 2% 5%;
	margin: 1%;
}

.form__message {
	
	padding: 2% 5%;
	margin: 1%;
	margin-bottom: 5%;
}

.button-send {
	margin-top: 5%;
}

.page-footer {
	width: 67%;
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom:  1%;
	
	 font-family: 'DroidSerif-Regular';
	 display: flex;
	 align-items: center;
}

.social__list {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 0;
}

.page-footer__copyright {
	width: 35%;
	color: #555555;
	font-family:  "Monserat bold", sans-serif;

}

.page-footer__social {
	width: 35%;
}

.social__item {
	margin: 2%;
}


.social__link--twitter {
	display: block;
	background-image: url(../img/iconmonstr-twitter-5.svg);
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin: 2%;
}

.social__link--facebook {
	display: block;
	background-image: url(../img/iconmonstr-facebook-5.svg);
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin: 2%;
}

.social__link--pinterest {
	display: block;
	background-image: url(../img/iconmonstr-pinterest-4.svg);
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin: 2%;
}

@media (max-width: 768px) {
	
.main-nav {
	display: none;
	
}

.page-header__welcome {
	font-size: 30px;
	margin-top: 5%;
		
}

.page-header__meet {
	font-size: 40px;
	
}
.page-header__button {
	margin: 0 auto;
}

.page-main {
	padding-top: 8%;
}

.services__wrapper {
	display: block;
}

.services__heading {
	font-size: 30px;
}

.services-item {
	width: 100%;
}

.portfolio {
	padding-bottom: 5%;
}

.portfolio-work-wrapper {
	display: block;

}
.portfolio__heading {
	font-size: 30px;
}

.portfolio-work {
	width: 100%;
	
}

.about__heading {
	font-size: 30px;
}

.about__item {
	margin-bottom: 3%;
}

.about__item--left {
	display: block;
}

.about__item--right {
	display: block;
}

.about-achievement__text {
	width: 100%;
}

.about-achievement__image {
	width: 100%;
}


.team__heading {
	font-size: 30px;
}

.team__members {
	display: block;
	
}

.team-member {
	width: 100%;
	margin: 5%;
}

.team-member img {
	width: 80%;
	border-radius: 50%;

}

.contact__heading {
	font-size: 30px;
}

